body {
    background-image:url(library-background-bdpbrit7uip76ztq.jpg) ; 
    background-position: 0%;
    background-size: contain; /* Ajusta o tamanho da imagem de fundo para cobrir toda a tela */
    background-repeat: no-repeat; /* Não repete a imagem de fundo */
    background-attachment: scroll; /* A imagem de fundo não se move com o conteúdo da página */
    background-color: #F2EBDC; /* Cor de fundo padrão */    
    font-family: Arial, sans-serif; /* Definindo a fonte padrão como Arial */
    margin: 0; /* Removendo as margens padrão */
    padding: 0; /* Removendo o preenchimento padrão */
    display: flex;
    flex-direction: column; /* Alinhando os itens em coluna */
    align-items: center; /* Centralizando os itens horizontalmente */
    justify-content: center; /* Centralizando os itens verticalmente */
    min-height: 100vh; /* Garantindo que o corpo ocupe pelo menos 100% da altura da tela */
}
header{
    background-color: #BF5B04;
    text-align: center;
    display: inline-block;
    width: 100%;
}
nav{
    background-color: #BF5B04;
    color: #F2EBDC;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
img {
    width: 100px; /* Largura da imagem */
    height: auto; /* Altura ajustada automaticamente para manter a proporção */
    margin: 20px; /* Margem ao redor da imagem */
    float: left;  /* A imagem flutua para a esquerda */
    display: block; /* A imagem ocupa uma linha inteira */
}
/* Estilo para todos os títulos h1 */
h1 {
    color:#401801; /* Cor do texto (um cinza escuro) */
    text-align: center; /* Alinha o texto do título no centro */
    font-size: 2.5em; /* Define o tamanho da fonte como 2.5 vezes o tamanho padrão */
    margin-top: 10px; /* Adiciona uma margem superior de 20px */
}

/* Estilo para parágrafos */
p {
    color: #592B02; /* Cor do texto (cinza claro) */
    font-size: 2em; /* Tamanho da fonte do parágrafo, igual ao tamanho padrão */
    line-height: 1.9; /* Define o espaçamento entre as linhas de texto */
    margin: 10px; /* Adiciona uma margem de 20px em volta do parágrafo */
}
h2{
    color: #BF5B04; /* Cor do texto (um tom de laranja) */
    text-align: center; /* Alinha o texto do título no centro */
    font-size: 2em; /* Define o tamanho da fonte como 2 vezes o tamanho padrão */
    margin-top: 20px; /* Adiciona uma margem superior de 20px */
}

section{
    border-left: #F2EBDC;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    max-width: 80%;
}
.box{
    border-left: #F2EBDC;
    margin: 50px;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 50px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introducao-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #D97925;
    font-size: 14px; /* Ajuste do tamanho da fonte */
    color: #F2EBDC; /* Cor do texto */
    padding: 10px 0; /* Espaçamento interno */
}

footer a {
    color: #F2EBDC; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
}

footer a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.p{
    color: #F2EBDC;
}
h2{
    font-size: 30px;
}